.bg-blue {
  background-color: #eaf4fd; /* You can adjust the color as needed */
}
.promotion-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 255, 255); 
}


.promotion-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f57224; 
}




.custom-card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card-body {
    padding: 1.5rem;

    .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .card-text {
      font-size: 0.9rem;
      color: #777;
      margin-bottom: 1rem;
    }
  }
}

.btn {
  width: 100%;

  &.btn-primary {
    background-color: #d27a22;
    border-color: #d27a22;
    font-size: 14px;
    padding: 8px 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease,
      color 0.3s ease;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: #654321;
      border-color: #654321;
    }
  }
}
