@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');
.medium-text1 {
  position: absolute;
  width: 260px;
  height: 40px;
  left: 553px;
  top: 100px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 108px;
  line-height: 68px;
  display: flex;
  align-items: center;

  color: #122947;
  z-index: 1;
}
.contact1 {
  position: absolute;
  width: 670px;
  height: 554px;
  left: 19px;
  top: 150px;

  background: #f4f1ed;
}
.Cont11 {
  position: absolute;
  width: 670px;
  height: 422px;
  left: 500px;
  top: 150px;
}

.naz11 {
  position: relative;
  width: 55px;
  height: 13px;
  left: 105px;
  top: 150px;
  margin-bottom: 35px;

  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  /* or 26px */

  display: flex;
  text-align: left;

  color: #122947;
}
.tex11 {
  position: relative;
  width: 256px;
  height: 39px;
  left: 102px;
  top: 127px;

  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  /* or 26px */

  display: flex;
  text-align: left;

  color: #122947;
}
.Contacti11 {
  position: absolute;
  width: 142px;
  height: 23px;
  left: 105px;
  top: 90px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  /* or 42px */

  color: #122947;
}
.contact {
  top: 200px;
}
