@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=M+PLUS+1p:wght@400;700&display=swap');

.medium-text1 {
  position: relative;
  width: 260px;
  height: 40px;
  left: 553px;
  top: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 108px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #122947;
  z-index: 1;
}

.contact1 {
  position: relative;
  width: 737px;
  height: 578px;
  left: 19px;
  top: 150px;
  background: #f4f1ed;
  padding-bottom: 700px;
}

.Cont11 {
  position: relative;
  width: 749px;
  height: 498px;
  margin-left: 427px;
  margin-top: 139px;
}

.naz11 {
  position: relative;
  width: 60px;
  height: 14px;
  left: 103px;
  top: -494px;
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #122947;
  margin-bottom: 46px;
}

.tex11 {
  position: relative;
  width: 225px;
  height: 14px;
  left: 103px;
  top: -515px;
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #122947;
  margin-bottom: 46px;
}

.Contacti11 {
  position: absolute;
  width: 142px;
  height: 23px;
  left: 105px;
  top: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #122947;
}

body {
  background-color: #fafafa;
  font-family: 'M PLUS 1p', sans-serif;
}

@media (max-width: 1200px) {
  .medium-text1 {
    display: none;
  }

  .contact1 {
    width: 344px;
    height: 421px;
    top: 30px;
    padding: 0;
  }

  .Cont11 {
    display: none;
  }

  .naz11 {
    font-size: 16px;
    left: 10%;
    top: 41px;
  }

  .tex11 {
    font-size: 16px;
    left: 10%;
    top: 45px;
  }

  .Contacti11 {
    font-size: 24px;
    top: 0px;
    left: 10%;
  }
}
