.tovars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 120.4px;
}
.tovar {
  padding-top: 20px;
}
.Podrob {
  align-items: center;
  width: 50%;
  height: 30px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

table,
td,
th {
  width: 100%;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 16px;
}
.PrisoedFon1 {
  position: absolute;
  width: 100%;
  height: 433px;
  left: 0px;
  top: 1300px;
}
.Pr11 {
  position: absolute;
  width: 553px;
  height: 23px;
  left: 15px;
  top: 1433px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  /* or 47px */

  display: flex;
  align-items: center;
  text-align: left;

  color: #122947;
}
.Pr111 {
  position: absolute;
  width: 553px;
  height: 23px;
  left: 15px;
  top: 1533px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  /* or 47px */

  align-items: center;
  text-align: left;

  color: #122947;
}
