@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #122947;
  overflow-x: hidden;
}
.medium-text {
  position: absolute;
  width: 260px;
  height: 40px;
  left: 553px;
  top: 192px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 108px;
  line-height: 68px;
  display: flex;
  align-items: center;
  color: #122947;
}

.medium-text-text {
  position: absolute;
  width: 260px;
  height: 40px;
  left: 800px;
  top: 250px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 68px;
  display: flex;
  align-items: center;
  color: #122947;
}

.kartinki1 {
  position: relative;
  width: 330px;
  height: 422px;
  left: 10%;
  top: 63px;
}

.kartinki2 {
  position: relative;
  width: 330px;
  height: 422px;
  left: 51%;
  right: 10%;
  top: 63px;
}

.kartinki11 {
  position: absolute;
  width: 230px;
  height: 312px;
  left: 398px;
  top: 790px;
}

.kartinki12 {
  position: absolute;
  width: 230px;
  height: 312px;
  left: 658px;
  top: 790px;
}

.kartinki13 {
  position: absolute;
  width: 230px;
  height: 312px;
  left: 918px;
  top: 790px;
}

.kartinki14 {
  position: absolute;
  width: 230px;
  height: 312px;
  left: 1178px;
  top: 790px;
}

.Best {
  position: absolute;
  width: 240px;
  height: 23px;
  left: 37px;
  top: 846px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  text-align: left;
  color: #122947;
}

.BestOp {
  position: absolute;
  width: 240px;
  height: 171px;
  left: 37px;
  top: 900px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.pris {
  position: absolute;
  width: 366px;
  height: 23px;
  left: 868px;
  top: 1800px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  display: flex;
  text-align: left;
  color: #122947;
}

.pod {
  position: absolute;
  width: 381px;
  height: 39px;
  left: 868px;
  top: 1950px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #122947;
}

.g1 {
  position: absolute;
  width: 254px;
  height: 251px;
  left: 19px;
  top: 1783px;
}

.g2 {
  position: absolute;
  width: 251px;
  height: 251px;
  left: 273px;
  top: 1783px;
}

.g3 {
  position: relative;
  width: 256px;
  height: 251px;
  left: 524px;
  margin-top: 1293px;
}

.g4 {
  position: absolute;
  width: 257.63px;
  height: 254.64px;
  left: 19px;
  top: 2033.78px;
}

.g5 {
  position: absolute;
  width: 251px;
  height: 254px;
  left: 273px;
  top: 2034px;
}

.g6 {
  position: absolute;
  width: 256px;
  height: 254px;
  left: 524px;
  top: 2034px;
}

.contact {
  position: absolute;
  width: 670px;
  height: 554px;
  left: 19px;
  top: 2360px;
  background: #f4f1ed;
}

.Cont {
  position: absolute;
  width: 670px;
  height: 422px;
  left: 598px;
  top: 125px;
}

.naz {
  position: relative;
  width: 55px;
  height: 13px;
  left: 105px;
  top: 150px;
  margin-bottom: 35px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #122947;
}

.tex {
  position: relative;
  width: 256px;
  height: 39px;
  left: 102px;
  top: 127px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  align-items: center;
  text-align: left;
  color: #122947;
}

.Contacti {
  position: absolute;
  width: 142px;
  height: 23px;
  left: 105px;
  top: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #122947;
}

.PrisoedFon {
  position: absolute;
  width: 1480px;
  height: 433px;
  left: 0px;
  top: 1200px;
}

.Pr {
  position: absolute;
  width: 553px;
  height: 23px;
  left: 15px;
  top: 1333px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #122947;
}

.Pr1 {
  position: absolute;
  width: 553px;
  height: 23px;
  left: 15px;
  top: 1433px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #122947;
}

.but {
  position: absolute;
  width: 188px;
  height: 41px;
  left: 43%;
  top: 518px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.but1 {
  position: absolute;
  width: 207px;
  height: 45px;
  left: 900px;
  top: 2200px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.but:hover,
.but1:hover {
  background-color: #3e8e41;
  color: white;
}

@media (max-width: 1200px) {
  .medium-text,
  .medium-text-text {
    display: none;
  }
  .home {
    padding-bottom: 702px;
  }

  .kartinki2 {
    position: relative;
    width: 164px;
    height: 196px;
    left: 70%;
    right: 10%;
    top: -137px;
  }
  .kartinki1 {
    position: relative;
    width: 164px;
    height: 196px;
    left: 10%;
    top: 63px;
  }
  .kartinki1,
  .kartinki2 {
    max-width: 80%;
  }
  .kartinki11 {
    width: 220px;
    height: 297px;
    left: 21%;
    top: 575px;
  }
  .kartinki12,
  .kartinki13,
  .kartinki14 {
    display: none;
  }

  .Best,
  .BestOp {
    max-width: 100%;
    margin-top: -443px;
    text-align: center;
    left: 19%;
  }
  .g1 {
    display: none;
  }
  .g5 {
    display: none;
  }
  .g2 {
    width: 145px;
    height: 145px;
    left: 48%;
    top: 1133px;
  }
  .g3 {
    width: 145px;
    height: 145px;
    left: 65%;
    margin-top: 539px;
  }

  .g4 {
    width: 145px;
    height: 145px;
    left: 10%;
    top: 1134px;
  }
  .g6 {
    width: 145px;
    height: 145px;
    left: 10%;
    top: 1279px;
  }

  .contact {
    max-width: 90%;
    top: 1711px;
    height: 350px;
  }

  .Cont {
    display: none;
  }
  .Contacti {
    width: 142px;
    height: 23px;
    left: 19px;
    top: 27px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #122947;
  }
  .naz {
    width: auto;
    top: 100px;
    left: 5%;
  }

  .tex {
    width: auto;
    top: 83px;
    left: 16px;
  }
  .but {
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -178px;
  }
  .PrisoedFon {
    position: relative;
    width: 371px;
    height: 212px;
    top: 991px;
  }

  .Pr {
    position: relative;
    left: 10%;
    top: 797px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
  }

  .Pr1 {
    position: relative;
    width: 292px;
    height: 39px;
    left: 10%;
    top: 865px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    display: flex;
    align-items: center;
  }
  .pris {
    width: 241px;
    height: 54px;
    left: 63px;
    top: 900px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 125%;
    /* or 35px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #122947;
  }
  .pod {
    width: 232px;
    height: 56px;
    left: 67px;
    top: 992px;

    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #122947;
  }
  .but1 {
    width: 146px;
    height: 40px;
    left: 110px;
    top: 1081px;
  }
}
